{
    "branches": [
        {
            "name": "main",
            "prerelease": false,
            "channel": "latest"
        },
        {
            "name": "alpha",
            "prerelease": true,
            "channel": "alpha"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/github",
            {
                "failComment": false,
                "failTitle": false,
                "successComment": false,
                "successTitle": false
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "commitMessage": "chore(release): update changelog"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ],
                "message": "chore(release): update changelog for release ${nextRelease.version} [skip ci]"
            }
        ]     
    ]
}
