<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://kit.fontawesome.com/42dc2bc760.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <title>RMR Projection</title>
    </head>
    <body>
        <div class="main-container">
            <header>
                <h1>Resting Metabolic Rate Projection</h1>
            </header>
            <main>
                <section class="about">
                    <h2> About</h2> 
                    <span>
                        The Resting Metabolic Rate (RMR) represents the number
                        of calories your body needs to perform essential
                        functions, like breathing and maintaining body
                        temperature, while at rest.
                        It serves as the baseline for estimating daily energy
                        requirements and varies based on age, weight, height, sex,
                        and body composition.
                    </span>
                    <span>
                        This web app offers a weekly projection of your
                        estimated RMR, customizable to your desired weekly
                        weight loss goal and the total projection duration
                        in weeks.
                    </span>
                </section>
                <aside>
                    <form>
                        <section class="toggles">
                            <div class="toggle-container">
                                <div class="tooltip">
                                    <span class="tooltip-text">Select system of units:</span>
                                </div>
                                <div class="toggle">
                                    <input class="checkbox-units" type="checkbox" id="checkbox-units" name="checkbox-units">
                                    <label for="checkbox-units">
                                        <div class="action">
                                            <span class="option-1">US Units</span>
                                            <span class="option-2">Metric Units</span>     
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="toggle-container">
                                <div class="tooltip">
                                    <span class="tooltip-text">Select sex at birth:</span>
                                </div>
                                <div class="toggle">
                                    <input class="checkbox-sex" type="checkbox" id="checkbox-sex" name="checkbox-sex">
                                    <label for="checkbox-sex">
                                        <div class="action">
                                            <span class="option-1">
                                                <i class="fa-solid fa-venus"></i>
                                                <span>Female</span>
                                            </span>
                                            <span class="option-2">
                                                <i class="fa-solid fa-mars"></i>
                                                <span>Male</span>
                                            </span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </section>
                        <section class="ranges">
                            <div class="range">
                                <label class="title" for="age-slider">Age</label>
                                <output class= "level-value" id="ageout">50</output>
                                <label class="unit" for="age-slider">years</label>
                                <input class="level age" type="range" min="20" max="150" value="50" oninput="ageout.value = this.value" name="age">
                            </div>
                            <div class="range">
                                <label class="title" for="weight-slider">Weight</label>
                                <output class= "level-value weight" id="weightout">200</output>
                                <label class="unit weight" for="weight-slider">lbs</label>
                                <input class="level weight" type="range" min="100" max="450" value="200" oninput="weightout.value = this.value" name="weight">
                            </div>
                            <div class="range">
                                <label class="title" for="height-slider">Height</label>
                                <output class= "level-value height" id="heightout">85</output>
                                <label class="unit height" for="height-slider">inch</label>
                                <input class="level height" type="range" min="50" max="200" value="85" oninput="heightout.value = this.value" name="height">
                            </div>
                            <div class="range">
                                <label class="title" for="rate-slider">Weekly Weight Loss Goal</label>
                                <output class= "level-value rate" id="rateout">2</output>
                                <label class="unit rate" for="rate-slider">lbs</label>
                                <input class="level rate" type="range" min="0" max="20" step="1" value="2" oninput="rateout.value = this.value" name="weight_loss_rate">
                            </div>
                            <div class="range">
                                <label class="title" for="time-slider">Projection Duration</label>
                                <output class= "level-value" id="timeout">24</output>
                                <label class="unit" for="time-slider">weeks</label>
                                <input class="level time" type="range" min="0" max="52" value="24" oninput="timeout.value = this.value" name="duration">
                            </div>
                        </section>
                    </form>
                </aside>
                <section class="main-content">
                    <article class="activity-factor">
                        <h2>Current RMR by Activity Factor</h2>
                        <div class="activity-factor-container">
                            <div class="container-body">
                                <span class="container-title">Sedentary</span>
                                <a class="container-content sedentary-factor" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    Factor = 1.00
                                </a>
                                <a class="container-content" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    Normal day-to-day activity
                                </a>
                            </div>
                            <div class="container-value-box">
                                <i class="fa-solid fa-heart"></i>
                                <span class="sedentary-value"></span>
                            </div>
                        </div>
                        <div class="activity-factor-container">
                            <div class="container-body">
                                <span class="container-title">Low Active</span>
                                <a class="container-content low-active-factor" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    Factor = 1.12
                                </a>
                                <a class="container-content" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    <i class="fa-solid fa-person-walking"></i>
                                    <span class="low-active-text">1.5–3 m at 3–4 mph</span>
                                </a>
                                <a class="container-content" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    Normal day-to-day activity
                                </a>
                            </div>
                            <div class="container-value-box">
                                <i class="fa-solid fa-heart-pulse"></i>
                                <span class="low-active-value"></span>
                            </div>
                        </div>
                        <div class="activity-factor-container">
                            <div class="container-body">
                                <span class="container-title">Active</span>
                                <a class="container-content  active-factor" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    Factor = 1.27
                                </a>
                                <a class="container-content" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    <i class="fa-solid fa-person-walking"></i>
                                    <span class="active-text">3+ m at 3–4 mph</span>
                                </a>
                                <a class="container-content" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    60+ mins brisk activity
                                </a>
                            </div>
                            <div class="container-value-box">
                                <i class="fa-solid fa-heart-circle-exclamation"></i>
                                <span class="active-value"></span>
                            </div>
                        </div>
                        <div class="activity-factor-container">
                            <div class="container-body">
                                <span class="container-title">Very Active</span>
                                <a class="container-content  very-active-factor" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    Factor = 1.45
                                </a>
                                <a class="container-content" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    <i class="fa-solid fa-person-walking"></i>
                                    <span class="very-active-text">7.5+ m at 3–4 mph</span>
                                </a>
                                <a class="container-content" href="https://www.ncbi.nlm.nih.gov/books/NBK278991/table/diet-treatment-obes.table12est/#_ncbi_dlg_citbx_NBK278991" target="_blank">
                                    60+ mins vigorous activity
                                </a>
                            </div>
                            <div class="container-value-box">
                                <i class="fa-solid fa-heart-circle-bolt"></i>
                                <span class="very-active-value"></span>
                            </div>
                        </div>
                    </article>
                    <article class="plot">
                        <h2>Projected RMR Over Time (Weeks)</h2>
                        <div class="chart-container">
                            <canvas id="chartContext"></canvas>
                        </div>
                    </article>
                </section>
            </main>
            <footer>
                <strong>Disclaimer:</strong>
                The information provided in this material is for 
                educational purposes only and should not be considered professional 
                or expert advice. While every effort has been made to ensure the 
                accuracy of the information, it may not reflect the most current 
                research or practices. Users are encouraged to consult with qualified 
                professionals for specific guidance related to their individual 
                circumstances.
                <a href="https://www.flaticon.com/free-icons/graph" title="graph icons">Graph icons created by ibobicon - Flaticon</a>
            </footer>
        </div>
    </body>
</html>