<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Basal Metabolic Rate Calculator</title>
</head>
<body>
    <header>
        <h1>Basal Metabolic Rate <span>Calculator</span></h1>
        <h5>Welcome</h5>
    </header>
    <aside>
        <!-- Data Input Form -->
        <form id="data-form">
            <!-- Section related to body data -->
            <h3 id="h3-body-data">Body Data</h3>
            <section id="section-body-data">
                <label for="select-sex" id="label-sex">Sex</label>
                <select id="select-sex" class="input-valid" name="sex">
                    <option  value="men">Men</option>
                    <option  value="female">Female</option>                    
                </select>

                <label for="input-age" id="label-age">Age</label>
                <input id="input-age" type="number" name="age">
                <label for="input-age" id="label-age-unit">years</label>
                
                <label for="input-weight" id="label-weight">Initial Weight</label>
                <input id="input-weight"  type="number" name="weight">
                <label for="input-weight" id="label-weight-unit">lbs</label>

                <label for="input-height" id="label-height">Height</label>
                <input id="input-height"  type="number" name="height">
                <label for="input-height" id="label-height-unit">inch</label>
            </section>
            <!-- Section related to settings for the calculations will be done -->
            <h3 id="h3-model-settings">Model Settings</h3>

            <section id="section-model-settings">

                <label for="select-units" id="label-units">System of Units</label>
                <select id="select-units" class="input-valid" name="units">
                    <option value="imperial">lbs - inch</option>
                    <option value="metric">kg - cm</option>                    
                </select>

                <label for="input-time" id="label-time">Time to project</label>
                <input id="input-time"  type="number" name="time">
                <label for="input-time" id="label-time-unit">weeks</label>
            
                <label for="input-rate" id="label-rate">Weight Loss Rate</label>
                <input id="input-rate"  class="input-valid" type="number" name="rate" value="2">
                <label for="input-rate" id="label-rate-unit">lbs</label>
        
                <label for="input-energy" id="label-energy">Energy Deficit</label>
                <input id="input-energy" class="input-valid" type="number" name="energy" value="1000">
                <label for="input-energy" id="label-energy-unit">cal</label>
            </section>
            <!-- Section related to data submission -->
            <section id="section-buttons">
                    <button type="submit" id="button-submit">Submit</button>
                    <button class="clear" id="button-clear">Clear</button>
            </section>
        </form>
    </aside>
    <main>
        <section id="references">
            <h3>References</h3>
            <p>
                Harris & Benedict (1918) &#8212 A Biometric Study of Human Basal Metabolism <br>
                <a target="_blank" rel="noopener" href="https://doi.org/10.1073/pnas.4.12.370">DOI: 10.1073/pnas.4.12.370</a>
            </p>
            <p>
                Roza & Shizgal (1984) &#8212 The Harris Benedict equation reevaluated: resting energy requirements and the body cell mass <br>
                <a target="_blank" rel="noopener" href="https://doi.org/10.1093/ajcn/40.1.168">DOI: 10.1093/ajcn/40.1.168</a>
            </p>
            <p>
                Mifflin, <i>et al.</i> (1990): A new predictive equation for resting energy expenditure in healthy individuals <br>
                <a target="_blank" rel="noopener" href="https://doi.org/10.1093/ajcn/51.2.241">DOI: 10.1093/ajcn/51.2.241</a>
            </p>
        </section>
        <article>
            <figure>
                Figure
                <figcaption>
                    Figure Caption
                </figcaption>
            </figure>
        </article>
    </main>
    <footer>
        <strong>Disclaimer:</strong> The information provided in this material is for 
        educational purposes only and should not be considered professional 
        or expert advice. While every effort has been made to ensure the 
        accuracy of the information, it may not reflect the most current 
        research or practices. Users are encouraged to consult with qualified 
        professionals for specific guidance related to their individual 
        circumstances. The creators of this material assume no responsibility 
        for any errors or omissions, or for any outcomes resulting from the 
        use of this information.
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>