<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/42dc2bc760.js" crossorigin="anonymous"></script>    <title>Basal Metabolic Rate Projector</title>
</head>
<body>
    <header>
        <h1>Basal Metabolic Rate Projector</h1>
    </header>
    <main>
        <aside>
            <form>
                <section class="form-section toggles">
                    <div class="sex-container">
                        <span><i class="fa-solid fa-venus"></i></span>
                        <div class="toggle-container">
                            <input type="checkbox" class="toggle-input">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292 142" class="toggle">
                                <path d="M71 142C31.7878 142 0 110.212 0 71C0 31.7878 31.7878 0 71 0C110.212 0 119 30 146 30C173 30 182 0 221 0C260 0 292 31.7878 292 71C292 110.212 260.212 142 221 142C181.788 142 173 112 146 112C119 112 110.212 142 71 142Z" class="toggle-background"></path>
                                <rect rx="6" height="64" width="12" y="39" x="64" class="toggle-icon on"></rect>
                                <path d="M221 91C232.046 91 241 82.0457 241 71C241 59.9543 232.046 51 221 51C209.954 51 201 59.9543 201 71C201 82.0457 209.954 91 221 91ZM221 103C238.673 103 253 88.6731 253 71C253 53.3269 238.673 39 221 39C203.327 39 189 53.3269 189 71C189 88.6731 203.327 103 221 103Z" fill-rule="evenodd" class="toggle-icon off"></path>
                                <g filter="url('#goo')">
                                    <rect fill="#fff" rx="29" height="58" width="116" y="42" x="13" class="toggle-circle-center"></rect>
                                    <rect fill="#fff" rx="58" height="114" width="114" y="14" x="14" class="toggle-circle left"></rect>
                                    <rect fill="#fff" rx="58" height="114" width="114" y="14" x="164" class="toggle-circle right"></rect>
                                </g>
                                <filter id="goo">
                                    <feGaussianBlur stdDeviation="10" result="blur" in="SourceGraphic"></feGaussianBlur>
                                    <feColorMatrix result="goo" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix" in="blur"></feColorMatrix>
                                </filter>
                            </svg>
                          </div>
                        <span><i class="fa-solid fa-mars"></i></span>
                    </div>
                    <div class="units-container">
                        <span>Imp</span>
                        <div class="toggle-container">
                            <input type="checkbox" class="toggle-input">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 292 142" class="toggle">
                                <path d="M71 142C31.7878 142 0 110.212 0 71C0 31.7878 31.7878 0 71 0C110.212 0 119 30 146 30C173 30 182 0 221 0C260 0 292 31.7878 292 71C292 110.212 260.212 142 221 142C181.788 142 173 112 146 112C119 112 110.212 142 71 142Z" class="toggle-background"></path>
                                <rect rx="6" height="64" width="12" y="39" x="64" class="toggle-icon on"></rect>
                                <path d="M221 91C232.046 91 241 82.0457 241 71C241 59.9543 232.046 51 221 51C209.954 51 201 59.9543 201 71C201 82.0457 209.954 91 221 91ZM221 103C238.673 103 253 88.6731 253 71C253 53.3269 238.673 39 221 39C203.327 39 189 53.3269 189 71C189 88.6731 203.327 103 221 103Z" fill-rule="evenodd" class="toggle-icon off"></path>
                                <g filter="url('#goo')">
                                    <rect fill="#fff" rx="29" height="58" width="116" y="42" x="13" class="toggle-circle-center"></rect>
                                    <rect fill="#fff" rx="58" height="114" width="114" y="14" x="14" class="toggle-circle left"></rect>
                                    <rect fill="#fff" rx="58" height="114" width="114" y="14" x="164" class="toggle-circle right"></rect>
                                </g>
                                <filter id="goo">
                                    <feGaussianBlur stdDeviation="10" result="blur" in="SourceGraphic"></feGaussianBlur>
                                    <feColorMatrix result="goo" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix" in="blur"></feColorMatrix>
                                </filter>
                            </svg>
                        </div>
                        <span>SI</span>
                    </div>
                </section>
                <section class="form-section range">
                    <label class="label" for="age-slider">Age</label>
                    <input type="range" min="20" max="150" value="50" oninput="ageout.value = this.value" class="level" name="age">
                    <output class= "level-value" id="ageout">50</output>
                    <label class="unit" for="age-slider">years</label>
                </section>
                <section class="form-section range">
                    <label class="label" for="weight-slider">Weight</label>
                    <input type="range" min="50" max="2000" value="500" oninput="weightout.value = this.value" class="level" id="weight" name="weight">
                    <output class= "level-value" id="weightout">460</output>
                    <label class="unit" for="weight-slider">lbs</label>
                </section>
                <section class="form-section range">
                    <label class="label" for="height-slider">Height</label>
                    <input type="range" min="50" max="200" value="85" oninput="heightout.value = this.value" class="level" id="height" name="height">
                    <output class= "level-value" id="heightout">85</output>
                    <label class="unit" for="height-slider">inch</label>
                </section>
                <section class="form-section range">
                    <label class="label" for="rate-slider">WLR</label>
                    <input type="range" min="0" max="20" step="0.1" value="2" oninput="rateout.value = this.value" class="level" id="rate" name="rate">
                    <output class= "level-value" id="rateout">2</output>
                    <label class="unit" for="rate-slider">lbs</label>
                </section>
                <section class="form-section range">
                    <label class="label" for="time-slider">Time</label>
                    <input type="range" min="0" max="52" value="24" oninput="timeout.value = this.value" class="level" id="time" name="time">
                    <output class= "level-value" id="timeout">24</output>
                    <label class="unit" for="time-slider">weeks</label>
                </section>
            </form>
            <!-- <button class="btn">Submit</button> -->
        </aside>
        <section>
            <article>
                <h2>Basal Metabolic Rate by Activity Factor</h2>
                <span><i class="fa-solid fa-heart"></i></span>
                <span><i class="fa-solid fa-heart-circle-check"></i></span>
                <span><i class="fa-solid fa-heart-circle-exclamation"></i></span>
                <span><i class="fa-solid fa-heart-circle-bolt"></i></span>
            </article>
            <article>
                <h2>Plots</h2>
            </article>
        </section>
    </main>
    <footer>
        <strong>Disclaimer:</strong> The information provided in this material is for 
        educational purposes only and should not be considered professional 
        or expert advice. While every effort has been made to ensure the 
        accuracy of the information, it may not reflect the most current 
        research or practices. Users are encouraged to consult with qualified 
        professionals for specific guidance related to their individual 
        circumstances. The creators of this material assume no responsibility 
        for any errors or omissions, or for any outcomes resulting from the 
        use of this information.
    </footer>
</body>