<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#checkbox").click(function () {
            if ($(this).is(":checked")) {
                $("#test").text("12+ km at 5–6 kmh");
            } else {
                $("#test").text("7.5+ m at 3–4 mph");
            };
        });
    });
</script>
</head>
<body>

<h2>This is a heading</h2>

<p>This is a paragraph.</p>
<p id="test">7.5+ m at 3–4 mph</p>


<input id="checkbox" type="checkbox">


</body>
</html>
