:root {
  /* General Settings */
  /* height: 100vh; */
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  /* Sizes*/
  --font-size-normal: 1.1rem;
  --font-size-small: 0.8rem;
  --font-size-h1: 2.4rem;
  --font-size-h2: 1.6rem;
  --font-size-h3: 1.2rem;
  --font-size-icons: 2.2rem;
  --font-size-icons-text: 1rem;

  /* Colors */
  --container-color: #FFFFFF;
  --font-color-primary: #37474F;
  --font-color-secondary: #42A5F5;
  --font-color-interactive: #4CAF50;
  --button-color-primary: rgba(255, 111, 67, 0.5);
  --button-color-hover: rgba(38, 197, 218, 0.5);
  --card-color-primary: rgba(255, 111, 67, 0.5);
  --card-color-hover: rgba(38, 197, 218, 0.5);
  /* Spacing */
  --gap-vertical: 2rem;
  --gap-horizontal: 3rem;
  --container-padding: 2rem;
  /* Borders */
  --border-radius-container: 4rem;
  /* form */
  --form-width: 100%;
  --form-height: 2rem;
  --form-bg: #fff;
  --form-border-radius: 6.25rem;
  /* level */
  --level-color: rgba(82, 82, 82, 0.449);
  --level-transition-duration: .15s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--form-bg);
  --icon-size: 25px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border-style: solid;
  border-color: red;
  border-width: 0px;
}

body {
  display: flex;
  flex-flow: row wrap;
  /* min-height: 100%; */
  gap: 0.75rem;
  /* padding: var(--container-padding) var(--container-padding); */
  background: linear-gradient(135deg, rgba(226, 226, 226, 0.75),  rgba(245, 245, 245, 1));
}

/* /////////////////////////////////////////////////////*/
/* ///////////////////// Header ///////////////////////*/
/* ///////////////////////////////////////////////////*/

header,
main aside,
main > section,
footer {
/* From https://css.glass */
backdrop-filter: blur(1.1rem) saturate(175%);
-webkit-backdrop-filter: blur(1.1rem) saturate(175%);
background-color: rgba(255, 255, 255, 0.75);
border-radius: var(--border-radius-container);
border: 0.1rem solid rgba(209, 213, 219, 0.75);

padding: var(--container-padding) var(--container-padding);
}

header {
  flex: 1 1 100%;
}

header h1 {
  margin: 0;
  color: var(--font-color-primary);
  font-size: var(--font-size-h1);
  text-transform: uppercase;
}

/* /////////////////////////////////////////////////////*/
/* ///////////////////// Main /////////////////////////*/
/* //////////////////// Layout ///////////////////////*/
/* ///////////////////////////////////////////////////*/

main {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-horizontal);
}

main aside {
  flex: 1;
  /* justify-items: center; */
}

main aside form {
  display: flex;
  flex-flow: column wrap;
  gap: calc(var(--gap-vertical)*1); 
}

main > section {
  flex: 5;
  display: flex;
  flex-flow: column wrap;
  gap: 0.75rem;
}

/* /////////////////////////////////////////////////////*/
/* /////////////////// Aside Form /////////////////////*/
/* ///////////////////  Toggles //////////////////////*/
/* ///////////////////////////////////////////////////*/

form section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

section.toggles-container {
  /* flex: 1 0 100%; */
  display: flex;
  flex-flow: row wrap;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  gap: 1rem;
}

.toggles-container .sex-container,
.toggles-container .units-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}

.toggles-container .sex-container {
  flex: 2;
}

.toggles-container .units-container {
  flex: 1;
}

.toggles-container .sex-container:hover,
.toggles-container .units-container:hover {
  transform: rotate3d(0.5, 1, 0, 15deg);
}

.toggles-container span {
  transition: all 0.5s ease-in-out;
  transform: translate3d(0rem, 0rem, 1rem);
}

.form-section span:hover {
  transform: translate3d(0rem, 0rem, 3rem);
}

.toggles-container span i {
  font-size: var(--font-size-icons);
  color: var(--font-color-primary);
  text-align: center;
}

.sex-container .switch,
.units-container .switch {
  /* flex: 1 1 0; */
  min-width: 5em;
  /* position: relative; */
  /* display: inline-block; */
  height: 3.5rem;
}

/* .sex-container .switch {
  flex: 1;
}

.units-container .switch {
  flex: 1;
} */

.switch input {
  display: none;
}
 
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button-color-primary);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 3.4rem;
}

 .slider:hover {
  background-color: var(--button-color-hover);
 }
 
 /* .slider:before {
  position: absolute;
  content: "";
  height: 2rem;
  width: 2rem;
  left: 0.25rem;
  bottom: 0.65rem;
  background-color: var(--container-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
 } */
 
/* .sex-container input:checked + .slider:before { */
  /* -webkit-transform: translateX(1rem);
  -ms-transform: translateX(2.6rem); */
  /* transform: translateX(5.75rem); */
/* } */

/* .units-container input:checked + .slider:before { */
  /* -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem); */
  /* transform: translateX(11.65rem); */
/* } */

.sex-container .slider:after,
.units-container .slider:after {
  color: var(--font-color-primary);
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-family: inherit;
  font-weight: bold;
}

.sex-container .slider:after {
  content: 'Female';
}
 
.sex-container input:checked + .slider:after {
  content: 'Male';
}

.units-container .slider:after {
  content: 'Imperial';
}

.units-container input:checked + .slider:after {
  content: 'SI';
}

/* /////////////////////////////////////////////////////*/
/* /////////////////// Aside Form /////////////////////*/
/* ///////////////////   Ranges  /////////////////////*/
/* ///////////////////////////////////////////////////*/

.form-section .label {
  text-align: left;
  flex: 1 1 10%;
  /* min-width: 6.5rem; */
  /* margin: 0 1rem 0 0; */
}

.form-section .level-value {
  text-align: right;
  flex: 1 1 20%;
  /* min-width: 5rem; */
  /* margin: 0 0.2rem 0 0; */
}

.form-section .unit {
  flex: 1 1 0;
  /* min-width: 6rem; */
  text-align: left;
}


.form-section label,
.form-section output {
  color: var(--font-color-primary);
  font-size: var(--font-size-h3);
}

.form-section:hover label,
.form-section:hover output {
  font-size: var(--font-size-h2);
}

.form-section:hover output {
  color: var(--button-color-hover);
}

.form-section .level {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 2 1 100%;
  /* min-width: 20rem; */

  height: calc(var(--form-height)/2);
  overflow: hidden;
  border-radius: var(--form-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  /* margin: 0 0.5rem 0 0; */
  border-width: 0.15rem;
  border-color: var(--button-color-primary);
  background-color: var(--container-color);
}

.form-section .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  box-shadow: -50rem 0 0 50rem var(--button-color-primary);
}

.form-section:hover .level {
  border-color: var(--button-color-hover);
}

.form-section:hover .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  box-shadow: -50rem 0 0 50rem var(--button-color-hover);
}

.form-section .level:hover {
  height: calc(var(--form-height) * 1.5);
}

/* /////////////////////////////////////////////////////*/
/* ///////////////// Main Section /////////////////////*/
/* //////////////// Activity Factor ///////////////////*/
/* ///////////////////////////////////////////////////*/

main section h2 {
  margin: 0;
  font-size: var(--font-size-h2);
  color: var(--font-color-primary);
}

article.activity-factor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

article .container {
  flex: 1;
  /* min-width: 25rem; */
  /* min-height: 6rem; */
  /* perspective: 100rem; */
}

.card {
  border: 0.1rem solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
              repeating-linear-gradient(45deg, #f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
  background-size: 10rem 3rem;
  box-shadow: rgba(142, 142, 142, 0.435) 0rem 0.25rem 0.25rem -0.1rem;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  background-position: -5rem 5rem, -5rem 5rem;
  transform: rotate3d(0.5, 1, 0, 15deg);
}

.card:hover .content-box{
  background: var(--card-color-hover);
}

.content-box {
  /* flex: 1; */
  display: flex;
  flex-flow: row wrap;
  background: var(--card-color-primary);
  transition: all 0.5s ease-in-out;
  padding: 0.25rem;
  transform-style: preserve-3d;
}

.content-box .card-body {
  display: flex;
  flex-flow: row wrap;
  /* display: inline-block; */
  /* height: min-content; */
  flex: 0 0 70%;
  /* max-width: fit-content; */
  color: var(--font-color-primary);
  /* font-size: var(--font-size-h3); */
  /* font-weight: bold; */
  transition: all 0.5s ease-in-out;
  transform: translate3d(0rem, 0rem, 0.5rem);
}

.content-box .card-body:hover {
  transform: translate3d(0rem, 0rem, 1rem);
}

.content-box .card-title {
  flex: 1 0 100%;
  font-weight: bold;
  font-size: var(--font-size-h3);
}

.content-box .card-content {
  /* margin: 0.15rem 0 0 0; */
  /* display: inline-block; */
  /* max-width: fit-content; */
  flex: 1 0 100%;
  /* height: min-content; */
  text-decoration: none;
  font-size: var(--font-size-small);
  color: var(--font-color-primary);
  transition: all 0.5s ease-in-out;
  transform: translate3d(0rem, 0rem, 0.5rem);
}

.content-box .card-content:hover {
  font-size: var(--font-size-normal);
  color: var(--container-color);
  transform: translate3d(0rem, 0rem, 00.75rem);
}

.content-box .card-content .emoji {
  font-size: var(--font-size-h3);
}


.value-box {
  flex: 0 0 30%;
  /* max-width: fit-content; */
  /* position: absolute; */
  /* top: 0.25rem;
  right: 0.75rem; */
  text-align: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0rem, 0rem, 1.5rem);
}

.value-box:hover {
  transform: translate3d(0rem, 0rem, 2rem);
}

.value-box span {
  margin: 0;
  /* display: block; */
  /* justify-self: center; */
  /* text-align: center; */
}

.value-box p {
  margin: 0;
  /* justify-self: center; */
  /* display: block; */
  /* text-align: center; */
  font-size: var(--font-size-icons-text);
  color: var(--font-color-primary);
}

.value-box .fa-solid {
  /* justify-self: center; */
  /* text-align: center; */
  font-size: var(--font-size-icons);
  color: var(--font-color-primary);
}

/* //////////////////////////////////////// */
/* ///////////////// Footer ////////////////// */
footer {
  flex: 1 1 100%;
}


/* Mobile view (screen width 767px and below not inclusive) */
/* @media (width <= 1023px) {
  main aside {
    min-width: 100%;
  }
} */