html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    border-style: solid;
    border-color: red;
    border-width: 0px;
}

:root {
    font-size: 62.5%;

    --border-width: 0.2rem;
    
    --font-color-heading: #27637D;
    --font-color-normal: black;
    --font-color-buttons: white;

    --block-color-normal-background: #f2f2f2;
    --block-color-normal-border: #A8A7A7;
    --block-color-units-background: #D9D9D9;
    --block-color-buttons-background: #21586e83;
    --block-color-buttons-border: #215970;
}


body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Header ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
    "h1 h5";
    padding: 0 1.6rem;
    height: 4.5rem;
    align-items: center;
    background-color: var(--block-color-normal-background);
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--block-color-normal-border);
}

header h1 {
    grid-area: h1;
    margin: 0;
    font-size: 3.2rem;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    color: var(--font-color-heading);
}

header h1 span {
    text-transform: none;
}

header h5 {
    grid-area: h5;
    margin: 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: right;
}
/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Aside /////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
aside {
    grid-area: aside;
    min-width: fit-content;
    padding: 0.8rem 0;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    margin-left: 1.6rem;
    border-radius: 1rem;
    /* border-width: var(--border-width);
    border-style: solid;
    border-color: var(--block-color-normal-border);
    background-color: var(--block-color-normal-background); */
}

h3 {
    margin-top: 0;
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--font-color-heading);
    border-bottom-width: var(--border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--block-color-normal-border);
}

aside form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

aside section#section-body-data,
aside section#section-model-settings {
    margin-bottom: 4.8rem;
}

aside section#section-buttons {
    margin-top: auto;

}

select:hover {
    cursor: pointer;
}
/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Section Body Physical Data ///////////////// */
/* /////////////////////////////////////////////////////////////// */
aside #section-body-data {
    align-items: center;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 52% 24% 24%;
    grid-template-areas: 
    "label-sex select-sex select-sex"
    "label-age input-age unit-age"
    "label-weight input-weight unit-weight"
    "label-height input-height unit-height";
}

section label#label-sex,
section select#select-sex,
section label#label-age,
section input#input-age,
section label#label-age-unit,
section label#label-weight,
section input#input-weight,
section label#label-weight-unit {
    margin-bottom: 0.8rem;
}

section label#label-sex,
section label#label-age,
section label#label-weight,
section label#label-height {
    min-width: fit-content;
}

section select#select-sex {
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.4rem;
    border-width: var(--border-width);
    color: white;
    background-color: var(--block-color-buttons-background);
    border-color: var(--block-color-buttons-border);
}

section input#input-age,
section input#input-weight,
section input#input-height {
    text-align: center;
    border-width: var(--border-width);
    border-color: var(--block-color-normal-border);
}

section label#label-age-unit,
section label#label-weight-unit,
section label#label-height-unit {
    min-width: fit-content;
    text-align: center;
    margin-left: 0.8rem;
    border-width: var(--border-width);
    background-color: var(--block-color-units-background);
    border-color: var(--block-color-normal-border);
}

section label#label-sex {
    grid-area: label-sex;
}

section select#select-sex {
    grid-area: select-sex;
}

section label#label-age {
    grid-area: label-age;
}

section input#input-age {
    grid-area: input-age;
}

section label#label-age-unit {
    grid-area: unit-age;
}

section label#label-weight {
    grid-area: label-weight;
}

section input#input-weight {
    grid-area: input-weight;
}

section label#label-weight-unit {
    grid-area:  unit-weight;
}

section label#label-height {
    grid-area: label-height;
}

section input#input-height {
    grid-area: input-height;
}

section label#label-height-unit {
    grid-area:  unit-height;
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Section Model Settings ////////////////////// */
/* /////////////////////////////////////////////////////////////// */
aside #section-model-settings {
    align-items: center;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: 52% 24% 24%;
    grid-template-areas: 
    "label-units select-units select-units"
    "label-time input-time unit-time"
    "label-rate input-rate unit-rate"
    "label-energy input-energy unit-energy";
}

section select#select-units {
    font-size: 1.4rem;
    text-align: center;
    color: white;
    border-radius: 0.4rem;
    border-width: var(--border-width);
    background-color: var(--block-color-buttons-background);
    border-color: var(--block-color-buttons-border);
}

section label#label-units,
section select#select-units,
section label#label-time,
section input#input-time,
section label#label-time-unit,
section label#label-rate,
section input#input-rate,
section label#label-rate-unit {
    margin-bottom: 0.8rem;
}

section label#label-units,
section label#label-time,
section label#label-rate,
section label#label-energy {
    text-align: left;
}

section select#select-units {
    text-align: center;
}

section input#input-time,
section input#input-rate,
section input#input-energy {
    text-align: center;
    border-width: var(--border-width);
    border-color: var(--block-color-normal-border);
}

section label#label-time-unit,
section label#label-rate-unit,
section label#label-energy-unit {
    text-align: center;
    margin-left: 0.8rem;
    border-width: var(--border-width);
    background-color: var(--block-color-units-background);
    border-color: var(--block-color-normal-border);
}

section label#label-units {
    grid-area: label-units;    
}

section select#select-units {
    grid-area: select-units;
}

section label#label-time {
    grid-area: label-time;
}

section input#input-time {
    grid-area: input-time;
}

section label#label-time-unit {
    grid-area: unit-time;
}

section label#label-rate {
    grid-area: label-rate;
}

section input#input-rate {
    grid-area: input-rate;
}

section label#label-rate-unit {
    grid-area: unit-rate;
}

section label#label-energy {
    grid-area: label-energy;
}

section input#input-energy {
    grid-area: input-energy;
}

section label#label-energy-unit {
    grid-area: unit-energy;
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Form Controls ///////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
.input-invalid {
    color: black;
    background-color: #b91f1f7e;
    border-color: #B91F1F;
    border-width: var(--border-width);
}

.input-valid {
    color: black;
    background-color: #2e6b3284;
    border-color: #2E6B32;
    border-width: var(--border-width);
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Section Buttons ///////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
aside section#section-buttons {
    min-width: fit-content;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
    "button-clear button-submit"
    ;
}

section button {
    padding: 0.5rem;
    font-size: 1.6rem;
    text-align: center;
    color: white;
    background-color: var(--block-color-buttons-background);
}

section button:hover {
    cursor: pointer;
}

section button#button-clear {
    grid-area: button-clear;
    border-top-left-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
}

section button#button-submit {
    grid-area: button-submit;
    margin-left: 0.8rem;
    border-top-right-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Main //////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
main {
    min-width: fit-content;
    padding: 0.8rem 0;
    margin: 2.2rem 1.6rem;
    border-radius: 1rem;
}

section#references p {
    min-width: fit-content;
    margin-top: 0;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
}

a {
    min-width: fit-content;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

a:visited {
    background-color: var(--block-color-buttons-background);
}

a:hover,
a:active {
    padding: 0.5rem;
    color: white;
    background-color: var(--block-color-buttons-background);
}

/* /////////////////////////////////////////////////////////////// */
/* ///////////////// Footer ////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////// */
footer {
    grid-area: footer;
    min-width: fit-content;
    min-height: fit-content;
    font-size: 1rem;
    padding: 0.8rem 1.6rem;
    background-color: var(--block-color-normal-background);
    border-top-width: var(--border-width);
    border-top-color: var(--block-color-normal-border);
}

footer strong {
    color: red;
}

/* Tablet view (screen width between 768px and 1024px not inclusive) */
@media (width < 1024px) {
    body {
        margin: 0;
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
    }

    header {
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "h1"
        "h5";
    }
  }

/* Mobile view (screen width 767px and below not inclusive) */
@media (width <= 767px) {
    body {
        margin: 0;
        min-height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
    }

    header {
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
        "h1"
        "h5";
    }
  }