html {
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  border-style: solid;
  border-color: red;
  border-width: 0px;
}

:root {
  font-size: 62.5%;
  --font-size-h1: 3.2rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2rem;
  --font-size-normal: 2rem;
  --fornt-size-medium: 1.2rem;
  --font-size-small: 1rem;
  --font-size-icons: 3rem;

  --gap-row: 2rem;
  --gap-column: 1rem;
  --layout-padding: 2rem;

  /* form */
  --form-width: 100%;
  --form-height: 2rem;
  --form-bg: #fff;
  --form-border-radius: 6.25rem;
  /* level */
  --level-color: rgb(82, 82, 82);
  --level-transition-duration: .15s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--form-bg);
  --icon-size: 25px;
}

body {
  display: flex;
  flex-flow: column wrap;
  min-height: 100%;
  margin: 0;
  gap: var(--gap-row);
  padding: var(--layout-padding);
}

header {
  border-radius: 4.4rem;
  background: linear-gradient(145deg, #ffffff, #e9e8e8);
  box-shadow:  0.5rem 0.5rem 1rem #d1d1d1,
               -0.5rem -0.5rem 1rem #ffffff;
  padding: var(--layout-padding);
}

header h1 {
  margin: 0;
  font-size: var(--font-size-h1);
  text-transform: uppercase;
}

main {
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 0;
  gap: var(--gap-column); 
}

main h2 {
  font-size: var(--font-size-h2);
}

main aside {
  flex: 1 1 0;
  justify-items: center;

}

main aside form {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap-row);
}

main aside form > section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.form-section.toggles {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.form-section .sex-container,
.form-section .units-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 4.4rem;
  background: linear-gradient(145deg, #ffffff, #e9e8e8);
  box-shadow:  0.5rem 0.5rem 1rem #d1d1d1,
               -0.5rem -0.5rem 1rem #ffffff;
  padding: var(--layout-padding);
}

.form-section.range {
  padding: calc(var(--layout-padding)/2);
}

.form-section span {
  font-size: var(--font-size-icons);
  text-align: center;
}

.form-section .toggle-container {
  margin: 0 1rem;
}

.form-section .label {
  font-size: var(--font-size-normal);
  font-weight: bold;
  text-align: right;
  min-width: 6rem;
  margin: 0 2rem 0 0;
}

.form-section .level {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--form-width);
  height: var(--form-height);
  background: var(--form-bg);
  overflow: hidden;
  border-radius: var(--form-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  margin: 0 1.25rem 0 0;
  border-width: 0.15rem;
  border-color: var(--level-color);
}

.form-section .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  box-shadow: -50rem 0 0 50rem var(--level-color);
}

.form-section .level:hover {
  height: calc(var(--form-height) * 2);
}

.form-section .level-value {
  font-size: var(--font-size-normal);
  font-weight: bold;
  text-align: right;
  min-width: 5rem;
  margin: 0 0.25rem 0 0;
}

.form-section .unit {
  font-size: var(--font-size-normal);
  font-weight: bold;
  min-width: 6rem;
  text-align: left;
}

main > section {
  flex: 4 1 0;
  border-radius: 4.4rem;
  background: linear-gradient(145deg, #ffffff, #e9e8e8);
  box-shadow:  0.5rem 0.5rem 1rem #d1d1d1,
               -0.5rem -0.5rem 1rem #ffffff;
  /* padding: var(--layout-padding); */
}

/* /////////////////////////////////////////////////////*/
/* //////////////////// Sex  //////////////////////////*/
/* ///////////////////////////////////////////////////*/

span {
  font-size: var(--font-size-h3);
}

.toggle-container {
  --active-color: #1868e3;
  --inactive-color: #d3d3d6;
  position: relative;
  aspect-ratio: 292 / 142;
  height: 3.5rem;
  /* scale: 1.25; */
}

.toggle-input {
  appearance: none;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.toggle {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.toggle-background {
  fill: var(--inactive-color);
  transition: fill .4s;
}

.toggle-input:checked + .toggle .toggle-background {
  fill: var(--active-color);
}

.toggle-circle-center {
  transform-origin: center;
  transition: transform .6s;
}

.toggle-input:checked + .toggle .toggle-circle-center {
  transform: translateX(150px);
}

.toggle-circle {
  transform-origin: center;
  transition: transform .45s;
  backface-visibility: hidden;
}

.toggle-circle.left {
  transform: scale(1);
}

.toggle-input:checked + .toggle .toggle-circle.left {
  transform: scale(0);
}

.toggle-circle.right {
  transform: scale(0);
}

.toggle-input:checked + .toggle .toggle-circle.right {
  transform: scale(1);
}

.toggle-icon {
  transition: fill .4s;
}

.toggle-icon.on {
  fill: var(--inactive-color);
}

.toggle-input:checked + .toggle .toggle-icon.on {
  fill: #fff;
}

.toggle-icon.off {
  fill: #eaeaec;
}

.toggle-input:checked + .toggle .toggle-icon.off {
  fill: var(--active-color);
}

/* /////////////////////////////////////////////////////*/
/* ///////////////// Submit Button ////////////////////*/
/* ///////////////////////////////////////////////////*/
.btn {
  background: #e3edf7;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	      inset -4px -4px 6px -1px rgba(255,255,255,0.7),
	      -0.5px -0.5px 0px rgba(255,255,255,1),
	      0.5px 0.5px 0px rgba(0,0,0,0.15),
	      0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
}


/* Mobile view (screen width 767px and below not inclusive) */
@media (width <= 767px) {
  main aside {
    min-width: 100%;
  }
}