:root {
  /* General Settings */
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  /* Sizes*/
  --font-size-normal: 1.6rem;
  --font-size-special: 1.2rem;
  --font-size-h1: 2.1rem; /* About 1.3x normal font size */
  --font-size-h2: 1.8rem; /* About 1.15x normal font size */
  --font-size-footer: 1rem; /* About 0.65x normal font size */
  /* Gap */
  --gap-big: 2rem;
  --gap-large: 1rem;
  --gap-medium: 0.75rem;
  --gap-small:0.5rem;
  /* Padding */
  --padding-large: 1rem;
  --padding-medium: 0.5rem;
  --padding-small: 0.25rem;
  /* Width */
  --width-large: 1rem;
  --width-medium: 0.5rem;
  --width-small: 0.25rem;
  --width-xsmall: 0.1rem;
  /* Borders */
  --border-radius-big: 10rem;
  --border-radius-xlarge: 2.5rem;
  --border-radius-large: 1rem;
  --border-radius-medium: 0.5rem;
  --border-radius-small: 0.25rem;
  /* Colors */
  --shadow-color: rgb(136, 136, 136);
  --container-color: rgba(230, 230, 230, 0.5);
  --font-color-primary: rgb(55, 71, 79, 1);
  --button-color-primary: rgba(255, 111, 67, 0.3);
  --border-color: rgba(209, 213, 219, 0.749);
 
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  /* border-style: solid;
  border-color: red;
  border-width: 0px; */
}

body {
  padding: var(--padding-large);
  background: linear-gradient(135deg, rgba(226, 226, 226, 0.75), rgba(245, 245, 245, 1));
}

body .main-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

/** ///////////////////////////////////////////////////////////////////////////
/////////////////////////////// HEADER STYLING ////////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.main-container header {
  padding: var(--padding-large);
  /* backdrop-filter: blur(1.1rem) saturate(175%);
  -webkit-backdrop-filter: blur(1.1rem) saturate(175%); */
  /* background-color: var(--container-color);
  border-radius: var(--border-radius-xlarge);
  border: var(--width-xsmall) solid var(--border-color);
  -moz-box-shadow: 0 0 var(--width-small) var(--shadow-color);
  -webkit-box-shadow: 0 0 var(--width-small) var(--shadow-color);
  box-shadow: 0 0 var(--width-small) var(--shadow-color); */
}

.main-container header h1 {
  text-align: left;
  text-transform: uppercase;
  font-size: var(--font-size-h1);
  color: var(--font-color-primary);
}
/** ///////////////////////////////////////////////////////////////////////////
//////////////////////////////// MAIN STYLING /////////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.main-container main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}
/** ///////////////////////////////////////////////////////////////////////////
//////////////////////////////// ABOUT STYLING /////////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
section.about {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  color: var(--font-color-primary);
  padding: var(--padding-large);
  border-top: var(--width-xsmall) double var(--border-color);
  border-bottom: var(--width-xsmall) double var(--border-color);
}

section.about h2 {
  color: var(--font-color-primary);
  font-size: var(--font-size-h2);
}

section.about span {
  color: var(--font-color-primary);
  font-size: var(--font-size-normal);
}
/** ///////////////////////////////////////////////////////////////////////////
//////////////////////////////// FORM STYLING /////////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.main-container main aside form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}
/** ///////////////////////////////////////////////////////////////////////////
////////////////////////////        TOGGLES       /////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.main-container main aside form section.toggles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-medium);
  padding: var(--padding-large);
  backdrop-filter: blur(1.1rem) saturate(175%);
  -webkit-backdrop-filter: blur(1.1rem) saturate(175%);
  background-color: var(--container-color);
  border-radius: var(--border-radius-xlarge);
  border: var(--width-xsmall) solid var(--border-color);
  -moz-box-shadow: 0 0 var(--width-xsmall) var(--shadow-color);
  -webkit-box-shadow: 0 0 var(--width-xsmall) var(--shadow-color);
  box-shadow: 0 0 var(--width-xsmall) var(--shadow-color);
}

section.toggles .toggle-container {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: var(--gap-medium);
  backdrop-filter: blur(1.1rem) saturate(175%);
  -webkit-backdrop-filter: blur(1.1rem) saturate(175%);
  background-color: var(--container-color);
  border-radius: var(--border-radius-xlarge);
  border: var(--width-xsmall) solid var(--border-color);
  -moz-box-shadow: 0 0 var(--width-small) var(--shadow-color);
  -webkit-box-shadow: 0 0 var(--width-small) var(--shadow-color);
  box-shadow: 0 0 var(--width-small) var(--shadow-color);
}

section.toggles .tooltip {
  flex: 1;
}

section.toggles .tooltip .tooltip-text {
  flex: 1;
  font-size: var(--font-size-normal);
  background:var(--border-color);
  border-radius: var(--border-radius-medium);
  color: var(--font-color-primary);
  padding: var(--padding-small);
}

section.toggles .toggle {
  width: 100%;
  align-self: center;
  border-top-left-radius: var(--border-radius-xlarge);
  border-bottom-left-radius: var(--border-radius-big);
  border-top-right-radius: var(--border-radius-xlarge);
  border-bottom-right-radius: var(--border-radius-big);
  background-color: var(--button-color-primary);
}

section.toggles .toggle input {
  display: none;
}

section.toggles .toggle .action {
  width: 100%;
  padding: var(--padding-medium);
}

section.toggles .toggle .action span {
  text-align: center;
  font-size: var(--font-size-normal);
  color: var(--font-color-primary);
  text-transform: capitalize;
}

section.toggles label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

section.toggles input + label .action {
  position: relative;
  overflow: hidden;
  display: grid;
 }

section.toggles input + label .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all .5s;
}

section.toggles input + label .action span.option-1 {
  transform: translate(0px, 0%);
  opacity: 1;
}

section.toggles input:checked + label .action span.option-1 {
  transform: translate(0px, -100%);
  opacity: 0;
}

section.toggles input + label .action span.option-2 {
  transform: translate(0px, 100%);
  opacity: 0;
}

section.toggles input:checked + label .action span.option-2 {
  transform: translate(0px, 0%);
  opacity: 1;
}

/** ///////////////////////////////////////////////////////////////////////////
////////////////////////////        RANGES        /////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.main-container main aside form section.ranges {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
  padding: var(--padding-large);
  backdrop-filter: blur(1.1rem) saturate(175%);
  -webkit-backdrop-filter: blur(1.1rem) saturate(175%);
  background-color: var(--container-color);
  border-radius: var(--border-radius-xlarge);
  border: var(--width-xsmall) solid var(--border-color);
  -moz-box-shadow: 0 0 var(--width-xsmall) var(--shadow-color);
  -webkit-box-shadow: 0 0 var(--width-xsmall) var(--shadow-color);
  box-shadow: 0 0 var(--width-xsmall) var(--shadow-color);
}

.main-container main aside form section.ranges .range {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color-primary);
  gap: var(--gap-medium);
}

.range .title {
  flex: 1 1 60%;
  font-size: var(--font-size-normal);
  font-weight: bold;
  text-transform: capitalize;
}

.range .level-value,
.range .unit {
  font-size: var(--font-size-normal);
}

/********** Range Input Styles **********/
/*Range Reset*/
.range input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 100%;
}

/* Removes default focus */
.range input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
.range input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--border-color);
  border-radius: var(--border-radius-medium);
  height: 0.75rem;  
}

/* slider thumb */
.range input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.15rem; /* Centers thumb on the track

  /*custom styles*/
  background-color: var(--button-color-primary);
  border-radius: var(--border-radius-large);
  height: 1rem;
  width: 1.25rem;
}

.range input[type="range"]:focus::-webkit-slider-thumb {   
  border: 0.1rem solid var(--button-color-primary);
  outline: 0.1rem solid var(--button-color-primary);
  outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
.range input[type="range"]::-moz-range-track {
  background-color: var(--border-color);
  border-radius: var(--border-radius-medium);
  height: 0.75rem;  
}

/* slider thumb */
.range input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/

  /*custom styles*/
  background-color: var(--button-color-primary);
  border-radius: var(--border-radius-large);
  height: 1rem;
  width: 1.25rem;
}

.range input[type="range"]:focus::-moz-range-thumb {
 border: 0.1rem solid var(--button-color-primary);
 outline: 0.1rem solid var(--button-color-primary);
 outline-offset: 0.125rem; 
}

/** ///////////////////////////////////////////////////////////////////////////
//////////////////////////////       MAIN      ////////////////////////////////
/////////////////////////////       Section    ////////////////////////////////
///////////////////////////// ARTICLES STYLING ////////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.main-container main section.main-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-big);
  padding: var(--padding-large);
  backdrop-filter: blur(1.1rem) saturate(175%);
  -webkit-backdrop-filter: blur(1.1rem) saturate(175%);
  background-color: var(--container-color);
  border-radius: var(--border-radius-xlarge);
  border: var(--width-xsmall) solid var(--border-color);
}
/** ///////////////////////////////////////////////////////////////////////////
/////////////////////////////// ACTIVITY FACTOR ///////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.activity-factor {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-large);
}

.activity-factor h2 {
  flex: 1 1 100%;
  text-align: left;
  font-size: var(--font-size-h2);
  color: var(--font-color-primary);
}

.activity-factor-container {
  flex: 1 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--width-xsmall) solid var(--border-color);
  padding-bottom: var(--padding-small);
  gap: var(--gap-small);
}

.activity-factor-container .container-body {
  flex: 0 0 65%;
  display: flex;
  flex-flow: column wrap;
  gap: var(--gap-medium);
}

.container-body .container-title {
  font-size: var(--font-size-normal);
  text-transform: uppercase;
  color: var(--font-color-primary);
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-small);
  border-bottom: var(--width-xsmall) solid var(--border-color);
  border-top: var(--width-xsmall) solid var(--border-color);
}

.container-body .container-content {
  width: fit-content;
  text-decoration: none;
  border-top-right-radius: var(--border-radius-medium);
  border-bottom-right-radius: var(--border-radius-medium);
  padding: var(--padding-small);
  background-color: var(--button-color-primary);
  color: var(--font-color-primary);
  font-weight: 500;
  font-size: var(--font-size-normal);
}

.container-value-box {
  margin-bottom: auto;
  flex: 0 0 auto;
  display: flex;
  flex-flow: column wrap;
  gap: var(--gap-small);
}

.container-value-box i {
  font-size: var(--font-size-h1);
  color: var(--font-color-primary);
  text-shadow: var(--width-small) var(--width-small) var(--width-small) #ccc;
  text-align: center;
}

.container-value-box span {
  font-size: var(--font-size-normal);
  color: var(--font-color-primary);
  text-align: center;
}

.container-value-box i.fa-solid.fa-heart,
.container-value-box i.fa-solid.fa-heart-pulse,
.container-value-box i.fa-solid.fa-heart-circle-exclamation,
.container-value-box i.fa-solid.fa-heart-circle-bolt {
  transform-origin: center;
}

.container-value-box i.fa-solid.fa-heart {
  animation: beat 1s infinite alternate;
}

.container-value-box i.fa-solid.fa-heart-pulse {
  animation: beat 0.75s infinite alternate;
}

.container-value-box i.fa-solid.fa-heart-circle-exclamation {
  animation: beat 0.5s infinite alternate;
}

.container-value-box i.fa-solid.fa-heart-circle-bolt {
  animation: beat 0.25s infinite alternate;
}

/* Heart beat animation */
@keyframes beat {
	to { transform: scale(1.5); }
}

/* .container-value-box .activity-factor-value {
  color: var(--font-color-primary);
  font-size: var(--font-size-h3);
  text-shadow: var(--width-xsmall) var(--width-xsmall) var(--width-xsmall) #ccc;
  text-align: center;
} */
/** ///////////////////////////////////////////////////////////////////////////
///////////////////////////////////// PLOT ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.plot h2 {
  text-align: left;
  font-size: var(--font-size-h2);
  color: var(--font-color-primary);
}

.plot .chart-container {
  margin-top: var(--gap-large);
  padding: var(--padding-medium);
  backdrop-filter: blur(1.1rem) saturate(175%);
  -webkit-backdrop-filter: blur(1.1rem) saturate(175%);
  background-color: var(--container-color);
  border-top-left-radius: var(--border-radius-large);
  border-top-right-radius: var(--border-radius-large);
  border-bottom-left-radius: var(--border-radius-xlarge);
  border-bottom-right-radius: var(--border-radius-xlarge);
  border: var(--width-xsmall) solid var(--border-color);
  -moz-box-shadow: 0 0 var(--width-small) var(--shadow-color);
  -webkit-box-shadow: 0 0 var(--width-small) var(--shadow-color);
  box-shadow: 0 0 var(--width-small) var(--shadow-color);
}
/** ///////////////////////////////////////////////////////////////////////////
/////////////////////////////// FOOTER STYLING ////////////////////////////////
/////////////////////////////////////////////////////////////////////////// **/
.main-container footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  font-size: var(--font-size-special);
  color: var(--font-color-primary);
  padding: var(--padding-large);
  border-top: var(--width-xsmall) double var(--border-color);
  border-bottom: var(--width-xsmall) double var(--border-color);
}

footer a {
  color: var(--font-color-primary);
  text-decoration: none;
}